/* DESKTOP HEADER */

@media screen and (min-width: 900px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    color: black;
  }
  .header .menu {
    clear: none;
    margin-left: 41rem;
    max-height: none;
    background-color: white;
    color: rgba(6, 10, 36, 1);
  }
  .header .menu-icon {
    display: none;
  }
  .header .menu li a {
    color: black;
    border: none;
    margin-top: 1.625rem;
    margin-left: 3em;
    font-weight: 900;
    padding: 0;
  }
  .header ul a:hover {
    color: rgba(0, 243, 187, 1);
    text-decoration: line-through;
    background-color: white;
  }
  .header .logo {
    width: 2.25rem;
    height: 2.25rem;
  }
  .header {
    box-shadow: none;
    margin: 1.375rem 0rem 1.375rem 0;
    padding-left: 6.25rem;
    width: 100vw;
  }
}

/* DESKTOP INICIO */

@media screen and (min-width: 900px) {
  .inicio {
    .presentacion {
      .boton {
        margin: 3.5rem 0 0 12.5rem;
        width: 14.125rem;
        height: 3.5rem;
        font-size: 1.125rem;
        font-weight: medium;
        margin-bottom: 2rem;
      }
      .p {
        .hola {
          margin: 7.5rem 0 0 12.5rem;
          font-weight: bold;
        }
        .world {
          margin: 7.5rem 0 0 0;
          font-weight: bold;
        }
        .hola2 {
          margin: 7.5rem 0 0 1rem;
        }
        .texto {
          margin: 0 38.25rem 0 12.5rem;
          width: 39.25rem;
          height: 3rem;
          font-size: 1rem;
        }
      }
    }
  }
}
.boton:hover {
  background: rgb(0, 0, 254);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 254, 1) 0%,
    rgba(0, 240, 184, 1) 100%,
    rgba(0, 240, 184, 1) 100%
  );
}
/* DESKTOP EPISODIOS */

@media screen and (min-width: 900px) {
  .episodios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
  }
  iframe {
    width: 36.5rem;
    height: 14.5rem;
    margin: 1.625rem 0rem 4.5rem 4rem;
    position: relative;
  }
  h3 {
    color: rgb(255, 255, 255);
    z-index: 3;
    padding-top: 7rem;
    padding-left: 12.5rem;
    font-size: 3rem;
  }
  .fondo {
    height: 65.162rem;
    width: 100vw;
  }
}

/* DESKTOP QUIENES SOMOS */

@media screen and (min-width: 900px) {
  .quienesomos .phone {
    width: 28.575rem;
    height: 41.25rem;
    margin-left: 12.5rem;
  }
  .quienesomos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }
  h4 {
    width: auto;
    height: 3.875rem;
    top: 10rem;
    position: absolute;
    left: -2em;
  }
  .quienesomos .texto2 {
    top: 15em;
    width: 80%;
    height: 12.75rem;
    left: -5em;
  }
  .quienesomos .texto3 {
    width: 80%;
    height: 12.75rem;
    left: -5em;
    top: 6.5em;
  }
  .column {
    width: 39%;
    position: relative;
  }
}

/* DESKTOP INVITADOS */

@media screen and (min-width: 900px) {
  h5 {
    font-size: 3rem;
    margin-left: 12.5rem;
    margin-top: 2em;
  }
  .invitados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
  }
  .invitados .pics {
    width: 28.4em;
    height: 22.75em;
  }
}

/* DESKTOP NOSOTROS */

@media screen and (min-width: 900px) {
  .nosotros .temas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 12rem;
    margin-top: 4.375rem;
  }
  .nosotros .VVS {
    display: block;
    height: 6px;
  }
  h6 {
    left: 12.5rem;
  }
}

/* DESKTOP NOVEDADES */

@media screen and (min-width: 900px) {
  .novedades .fondo2 {
    height: 32.375rem;
    width: 100vw;
  }
  .novedades article {
    padding-top: 10.313rem;
    padding-left: 14.375rem;
  }
  .novedades .boton2 {
    width: 21.563em;
    height: 3.5em;
    margin-bottom: 9.438em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .centro {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* DESKTOP FOOTER */

@media screen and (min-width: 900px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em 0 5em;
    width: 99vw;
    overflow: hidden;
  }
  .logos3 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 30%;
  }
  body {
    overflow-x: hidden;
  }
}
