@import "../Podcast/scss/header";
@import "../Podcast/SCSS/menu";
@import "../Podcast/SCSS/presentacion";
@import "../Podcast/SCSS/episodios";
@import "../Podcast/SCSS/quienesomos";
@import "../Podcast/SCSS/invitados";
@import "../Podcast/SCSS/nosotros";
@import "../Podcast/SCSS/novedades";
@import "../Podcast/SCSS/footer";
@import "../podcast/SCSS/mediaquerie";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1500px;
}

body {
  width: 100vw;
  max-width: 1500px;
}
