@import "../Podcast/Styles/header";
@import "../Podcast/Styles/menu";
@import "../Podcast/Styles/presentacion";
@import "../Podcast/Styles/episodios";
@import "../Podcast/Styles/quienesomos";
@import "../Podcast/Styles/invitados";
@import "../Podcast/Styles/nosotros";
@import "../Podcast/Styles/novedades";
@import "../Podcast/Styles/footer";
@import "../podcast/Styles/mediaquerie";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1800px;
}

body {
  width: 100vw;
  max-width: 1800px;
}
